.containerForm {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
.containerForm > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  border: #20202a 1px solid;
  padding: clamp(25px, 5vw, 50px);
  width: clamp(300px, 90vw, 400px);
  background: #fff;
}
.containerForm > div#signUp {
  width: clamp(300px, 90vw, 500px);
}
.containerForm > div#signUp #i1 {
  top: 15%;
  left: -50%;
  height: 120%;
  width: clamp(300px, 90vw, 350px);
}
.containerForm > div#signUp #i2 {
  top: -15%;
  right: -40%;
  height: 120%;
  width: clamp(300px, 90vw, 350px);
}
.containerForm > div #i1 {
  position: absolute;
  top: -20%;
  left: -40%;
  z-index: -5;
  height: 130%;
  width: clamp(300px, 90vw, 250px);
}
.containerForm > div #i2 {
  position: absolute;
  top: 15%;
  right: -50%;
  z-index: -5;
  height: 130%;
  width: clamp(300px, 90vw, 250px);
}
.containerForm > div form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerForm > div form > div {
  display: flex;
  gap: 10%;
}
.containerForm > div form *:not(label, input) {
  margin-block: 10px;
}
.containerForm > div form label {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.containerForm > div form input {
  padding: 10px;
  border: none;
  border-bottom: #20202a 1px solid;
  font-size: 15px;
  width: 100%;
}
.containerForm > div form button {
  padding: 10px 40px;
  border: #20202a 1px solid;
  background: none;
  transition: all 0.3s ease-out;
}
.containerForm > div form button:hover {
  color: #c1beb1;
  background: #20202a;
}
.containerForm > div form a {
  text-decoration: underline;
  font-weight: 700;
}
.popUpForm, .userPopupForm {
  display: none;
  place-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #20202ac4;
}
.popUpForm form:not(.userPopupForm form), .userPopupForm form:not(.userPopupForm form) {
  display: grid;
  align-content: center;
  gap: 20px;
  height: 100%;
  width: clamp(300px, 90vw, 700px);
  scale: 0;
  animation: appear 0.5s forwards ease-in-out;
}
.popUpForm form:not(.userPopupForm form) > div, .userPopupForm form:not(.userPopupForm form) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: #20202a;
  border: #c1beb1 1px solid;
  padding: clamp(10px, 1rem, 30px);
}
.popUpForm form:not(.userPopupForm form) > div *, .userPopupForm form:not(.userPopupForm form) > div * {
  color: #c1beb1;
}
.popUpForm form:not(.userPopupForm form) > div:last-child, .userPopupForm form:not(.userPopupForm form) > div:last-child {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: none;
  border: none;
  grid-column: 1 / 3;
}
.popUpForm form:not(.userPopupForm form) > div:last-child *, .userPopupForm form:not(.userPopupForm form) > div:last-child * {
  color: #c1beb1;
}
.popUpForm form:not(.userPopupForm form) > div:last-child span, .userPopupForm form:not(.userPopupForm form) > div:last-child span {
  font-size: 40px;
}
.popUpForm form:not(.userPopupForm form) > div > div, .userPopupForm form:not(.userPopupForm form) > div > div {
  display: flex;
  gap: 10%;
}
.popUpForm form:not(.userPopupForm form) > div *:not(label, input), .userPopupForm form:not(.userPopupForm form) > div *:not(label, input) {
  margin-block: 10px;
}
.popUpForm form:not(.userPopupForm form) > div label, .userPopupForm form:not(.userPopupForm form) > div label {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.popUpForm form:not(.userPopupForm form) > div input, .userPopupForm form:not(.userPopupForm form) > div input {
  padding: 10px;
  border: none;
  border-bottom: #c1beb1 1px solid;
  font-size: 15px;
  width: 100%;
  background: #20202a;
}
.popUpForm form:not(.userPopupForm form) > div select, .userPopupForm form:not(.userPopupForm form) > div select {
  padding: 10px;
  border: none;
  border: #c1beb1 1px solid;
  background: #20202a;
  font-size: 15px;
  width: 100%;
}
.popUpForm form:not(.userPopupForm form) button, .userPopupForm form:not(.userPopupForm form) button {
  padding: clamp(5px, 5vw, 15px) clamp(15px, 5vw, 40px);
  border: #c1beb1 1px solid;
  width: 50%;
  font-size: clamp(10px, 1vw, 30px);
  background: #20202a;
  transition: 0.2s ease-in-out;
}
.popUpForm form:not(.userPopupForm form) button:hover, .userPopupForm form:not(.userPopupForm form) button:hover {
  background: #c1beb1;
  color: #20202a;
}
.userPopupForm {
  display: grid;
  overflow: scroll;
  overflow-x: hidden;
}
.userPopupForm::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.userPopupForm form {
  display: flex;
  flex-direction: column;
  background: #20202a;
  border: #c1beb1 1px solid;
  padding: clamp(25px, 5vw, 30px);
  width: clamp(300px, 90vw, 450px);
  scale: 0;
  animation: appear 0.5s forwards ease-in-out;
}
.userPopupForm form *:not(label, input) {
  margin-block: 10px;
}
.userPopupForm form * {
  color: #c1beb1;
}
.userPopupForm form label {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.userPopupForm form input {
  padding: 10px;
  border: none;
  border-bottom: #c1beb1 1px solid;
  font-size: 15px;
  width: 100%;
  background: #20202a;
}
.userPopupForm form button {
  padding: 15px 40px;
  border: #c1beb1 1px solid;
  width: 100%;
  font-size: 20px;
  background: #20202a;
  transition: 0.2s ease-in-out;
}
.userPopupForm form button:hover {
  background: #c1beb1;
  color: #20202a;
}
.userPopupForm form button:last-child:hover {
  color: #bc9191;
  background: none;
  border: #bc9191 1px solid;
}
@keyframes appear {
  to {
    scale: 1;
  }
}
.close {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 30;
  width: 50px;
  height: 50px;
  background: none;
  border: #c1beb1 1px solid;
  transition: 0.2s ease-in-out;
}
.close:hover {
  background: #c1beb1;
}
.close:hover::before, .close:hover::after {
  background: #20202a;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: #c1beb1;
}
.close::before {
  top: 0;
  rotate: 50deg;
}
.close::after {
  bottom: 0;
  rotate: -50deg;
}
@media (max-width: 540px) {
  .popUpForm form {
    grid-template-columns: 1fr;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 130%;
  }
  .popUpForm form::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .popUpForm form > div:nth-child(2) {
    grid-row: 2;
  }
  .popUpForm form button {
    font-size: 10px;
    width: 100%;
  }
}
