section {
    display: flex;
    justify-content: center;

    height: 100%;
    background-size: cover;
    padding: 20px;
    background-size: cover;
    width: 100%;
}

section > div {
    position: relative;

    width: 900px;
}
section > div img {
    width: 50%;
}
section > div img:nth-child(3) {
    position: absolute;
    bottom: -50px;
    width: 40%;
}

.sloganContainer {
    padding: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;

    background: #000000aa;
}
.sloganContainer h1 {
    color: #c1beb1;
    font-size: 40px;
}

@media (max-width: 768px) {
    .sloganContainer h1 {
        font-size: 30px;
    }
}